/* NavBar.css */

.nav-bar {
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-weight: 700;
  background-color: #cccccc;
  transition: background-color 0.5s;
  border: 2px solid;
  border-image-slice: 1;
  border-width: 4px;
  border-image-source: linear-gradient(to left, #3a80d5, #d59f3a);
}

.nav-bar.dark-mode {
  background-color: #01121f;
  color: #fff;
}

.title {
  font-size: 2rem;
  background: -webkit-linear-gradient(#3a4cb1, #e24b4b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.options {
  display: flex;
  align-items: center;
}

.options button:nth-child(1) {
  height: 50px;
  width: 150px;
  border: 2px solid;
  border-image-slice: 1;
  border-width: 4px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  background-color: #e0e0e0;
  cursor: pointer;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.5s;
  font-size: small;
  font-weight: 700;
  margin-right: 10px;
  border-radius: 0px;
}

.options button:nth-child(2) {
  height: 50px;
  width: 50px;
  border: 2px solid;
  border-image-slice: 1;
  border-width: 4px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  background-color: #e0e0e0;
  cursor: pointer;
  transition: border-radius 0.5s;
}

button img {
  transition: transform 0.5s, border-radius 0.5s;
}

/* Rotate the image 180 degrees on dark mode */
.nav-bar.dark-mode button img {
  transform: rotate(360deg);
}
